.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roadmap-title {
  text-align: center;
}

.roadmap-container {
  padding: 0 2em;
  position: relative;
  align-items: center;
  width: 70%;
  margin: 80px 0 0;
}

@media (max-width: 780px) {
  .roadmap-container {
    width: 90%;
  }

  .step {
    padding: 50px 10px 50px 70px;
  }
}

.line {
  position: absolute;
  height: 85%;
  background: hsla(0, 0%, 100%, 0.4);
  width: 1px;
  left: 82px;
}

.box {
  position: absolute;
}

.shiba {
  width: 200px;
}

.progression {
  background: #e6a30c;
  background: linear-gradient(180deg, #e6a30c, #ffb302 49%);
  width: 3px;
  height: 35vh;
  margin-left: -1px;
}

.step {
  background: #04091a;
  padding: 50px 70px;
  margin: 30px 0;
}

.step-top {
  margin-top: 20vh;
}

.step p {
  margin: 1.25em 0 0;
  font-weight: 500;
  font-size: 15px;
  color: #c5c3d3;
}

.step:last-child {
  margin-bottom: 2em;
}

.details {
  margin-left: 2.25em;
}

.title {
  align-items: flex-end;
  color: #e6a30c;
}

.title h3 {
  font-size: 1.5em;
  margin: auto;
}

.subtitle {
  margin-bottom: 4em;
  text-align: center;
}

.dot {
  margin-left: -7px;
  margin-top: -125px;
}

.below-dot {
  margin-left: -26px;
}

.shape.done {
  background-color: #e6a30c;
}

.shape {
  width: 15px;
  height: 15px;
  background: #fff;
  box-shadow: 0 0 0 6px #04091a;
  transform: rotate(45deg);
}

@media (max-width: 780px) {
  .step {
    padding: 50px 10px 50px 70px;
  }
}
