.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roadmap-title {
  display: flex;
  justify-content: center;
}

.roadmap-container {
  padding: 0 2em;
  position: relative;
  align-items: center;
  width: 77.77%;
  margin: 80px 0 0;
}

.line {
  position: absolute;
  height: 85%;
  background: hsla(0, 0%, 100%, 0.4);
  width: 1px;
  left: 82px;
}

.progression {
  background: #e6a30c;
  background: linear-gradient(180deg, #e6a30c, #ffb302 49%);
  width: 3px;
  height: 180px;
  margin-left: -1px;
}

.step {
  background: #04091a;
  padding: 50px 70px;
  margin: 30px 0;
}

.step.p {
  margin: 1.25em 0 0;
  font-weight: 700;
}

.step:last-child {
  margin-bottom: 2em;
}

.details {
  margin-left: 2.25em;
}

.title {
  align-items: flex-end;
  color: #e6a30c;
}

.subtitle {
  margin-bottom: 4em;
}
