.profile {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  margin: auto;
  width: 77.7%;
  padding: 150px 0px;
}

.profile-container {
  display: flex;
  flex-direction: row;
  padding: 0 25px;
  margin-bottom: 100px;
}

.profile-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profile-info-column {
  display: flex;
  flex-direction: column;
}

@media (max-width: 670px) {
  .profile {
    width: 100%;
  }
}

@media (max-width: 780px) {
  .profile {
    width: 77%;
  }
  .profile img {
    max-width: 100%;
  }
  .profile-container {
    flex-direction: column;
    padding: 0;
  }
  .profile-info {
    margin: 1em 0 1em 0;
  }
}

@media (min-width: 780px) {
  .profile-image-container {
    margin-right: 2em;
  }
}

.spacer {
  position: absolute;
  width: 1px;
  height: calc(100% - 79px);
  left: 43%;
  opacity: 0.4;
}

.icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.icons-container a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 10px 5px 10px;
  border: 1px solid #4753d6;
  transition: background-color 0.5s ease-in-out;
}
.icons-container a:hover {
  background-color: #4753d6;
}

.icons-container a:first-child {
  margin-right: 1em;
}

.profile-image-container {
  display: flex;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile:last-child {
  width: 307px;
  background-color: #4753d6;
}

/* .profile img {
  align-self: flex-start;
  width: 100%;
  height: auto;
} */

.profile-info h2 {
  font-size: 1.5em;
  font-weight: 700;
  margin: 0;
}

.profile-content p {
  font-size: 18px;
  line-height: 32px;
}
