.profile {
  display: flex;
  color: #fff;
  width: 77.7%;
  margin: auto;
  padding: 150px 0px;
}

@media (max-width: 670px) {
  .profile {
    width: 100%;
  }
}

@media (max-width: 780px) {
  .profile {
    width: 77.7%;
  }
}

.profile-container {
  display: flex;
  flex-direction: column;
  width: inherit;
  padding: 0 25px;
}

.profile-info {
  display: flex;
  width: inherit;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.icons-container a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 10px 5px 10px;
  background-color: #4753d6;
}

.icons-container a:first-child {
  margin-right: 1em;
}

.border-right {
  border-right: 1px solid #202946;
}
.profile img {
  align-self: flex-start;
  width: 100%;
}

.profile-info h2 {
  font-size: 2rem;
  margin-bottom: 0;
}
