.team-container {
  align-items: center;
  width: 77.7%;
  margin: 9em auto 4em auto;
}

.team-left-container {
  display: flex;
  justify-content: center;
  flex-basis: 50%;
  flex-direction: column;
  align-items: flex-end;
}

.team-right-container {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}

.row {
  flex-direction: row;
}

@media (max-width: 960px) {
  .row {
    flex-direction: column;
  }
  .team-left-container {
    align-items: flex-start;
    margin: auto;
  }
}

.title {
  padding-right: 4.5em;
}

@media (min-width: 960px) {
  .title h2 {
    font-size: 32px;
  }
  .title h1 {
    font-size: 46px;
  }
}

.title h2 {
  margin: 0;
  font-weight: 700;
  color: #f5f5f5;
}
.title h1 {
  margin: 0;
  font-weight: 700;
}
.content {
  color: #848198;
  font-size: 25px;
  font-weight: 200;
  margin: auto;
}
.content p {
  font-size: 18px;
  line-height: 32px;
}
