.about-container {
  align-items: center;
  width: 77.7%;
  margin: 9em auto 4em auto;
}

.left-container {
  display: flex;
  justify-content: center;
  flex-basis: 50%;
}

.right-container {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}

.degrade {
  background: linear-gradient(90deg, #e6a30c, rgb(230, 163, 12, 0.6));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.row {
  flex-direction: row;
}

.shib{ 
  color: #f7972b;
}

@media (max-width: 960px) {
  .row {
    flex-direction: column;
  }
  .left-container {
    padding: 0 2em;
  }
  .right-container {
    padding: 0 2em;
  }
}
