.header-video {
  width: 100%;
}

@media (min-width: 980px) {
  .header-video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
  }
}

.header-section {
  clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 99%, 0 90%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 99%, 0 90%);
}
