.swiper {
  width: 77.7%;
}

.swiper-container {
  margin-top: 2em;
  padding-top: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #151824;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-button-prev {
  color: #e6a30c;
}

.swiper-button-next {
  color: #e6a30c;
}

/* .swiper-pagination-bullet-active {
  background: rgba(230, 163, 12, 1);
} */

.swiper-pagination-bullet {
  background: rgba(230, 163, 12, 1);
}

.swiper-slide img {
  width: 40vw;
  max-width: 440px;
  height: auto;
  margin: 30px 15px;
}
