.footer {
  height: 40vh;
}
.footer-container {
  width: 80%;
  height: 30vh;
  margin: 70px auto;
  display: flex;
  justify-content: space-between;
}
.footer-inner-left {
  height: 80%;
  margin-top: 20px;
  width: 40%;
  display: flex;
  flex-direction: column;
}
.footer-inner-right {
  width: 20%;
  margin-right: 5%;
  margin-top: 50px;
}
.link {
  text-decoration: none;
  list-style: none;
  color: white;
}
.links {
  padding-block: 5px;
}
