.footer {
  height: 40vh;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  max-width: 1160px;
  padding: 0 60px;
}

@media (max-width: 780px) {
  .footer {
    flex-wrap: wrap;
    padding: 0 30px;
  }
  .footer-name {
    font-size: 1.5em;
  }
  .footer-right-column a {
    font-size: 1em;
  }
  .footer-left-column {
    order: 2;
  }
  .footer-right-column {
    order: 1;
  }
}

.description {
  font-weight: 300;
}

.copyright {
  font-size: 0.9em;
  color: #848198;
  font-weight: 300;
  margin-top: 2.5em;
}
.footer-left-column {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.footer-right-column {
  display: flex;
  flex-direction: column;
}

.logo img {
  display: block;
  transform: scale(1.4);
  height: 60px;
  padding: 0 20px;
}

@media (min-width: 780px) {
  .logo img {
    display: flex;
    transform: scale(1.4);
    height: 75px;
  }
}

.footer-name {
  font-size: 2em;
  font-weight: 700;
  margin-left: 20px;
  color: #e6a30c;
}

.logo-column {
  display: flex;
  flex-direction: column;
}

.logo-row {
  display: flex;
  flex-direction: row;
}

.footer-right-column a {
  text-decoration: none;
  font-size: 1em;
  color: #e6a30c;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}
